/* CSS BY Sarina */

/* IMPORTED FONTS */

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

/* ROOT VARIABLES */
:root {
    /* Colors */
    --Teal :#4CA7C0
    --Purple: #484FB7
    --Lavender: #6B8FE7
    --Yellow: #E9BB57; 
    --Pink:#D9526F;
    --Dark-gray:#1E1E1E; 
    --White:#ffffff; 

    /* Fonts */
    --heading-font: 'Kavoon', cursive;
    --body-font: 'Inter', sans-serif;

    /* Font Sizes */
    --h1-size: 3em;
    --nav-h2-size: 1.5em;
    --h2-size: 2em;
    --h3-size: 1.5em;
    --h4-size: 1.15em;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    font-family: var(--body-font);
    color: var(--dark-gray);
    background-color: var(--white);
    font-size: 1rem;
 }
 
 h1,
 h2 {
    font-family: var(--heading-font)
}

h1 {
    font-size: var(--h1-size);
 }

 nav h2 {
    font-size: var(--nav-h2-size);
 }
 