/* CSS BY Sarina */

/* IMPORTED FONTS */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

/* CSS RESET */
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    line-height: 1.5;
}

/* ROOT VARIABLES */
:root {
    --teal: #4CA7C0;
    --purple: #484FB7;
    --lavender: #6B8FE7;
    --yellow: #E9BB57;
    --pink: #D9526F;
    --dark-gray: #1E1E1E;
    --white: #ffffff;

    --heading-font: 'Kavoon', cursive;
    --body-font: 'Inter', sans-serif;
}

/* GLOBAL STYLES (mobile first/small) */
body {
    font-family: var(--body-font);
    background-color: var(--lavender);
    color: var(--dark-gray);
    padding: 15px;
 }
 
 h1,h2 {
    font-family: var(--heading-font);
    color: var(--White);
}

h1 {
    font-size: 3em;
    text-align: center;
    margin-bottom: 10px;
}

 nav h2 {
    font-size: 1.5rem;
 }
 
 h2 {
    font-size: 2em;
    margin: 15px 0;
 }
 
 h3 {
    font-size: 1.5em;
    margin: 15px;
 }

 h4 {
    font-size: 1.15em;
    margin-bottom: 5px;
 }
 
 header {
    text-align: center;
    padding: 20px 0;
}

nav {
    background-color: var(--yellow);
    padding: 15px;
    margin-bottom: 20px;
}
 
nav ul {
    list-style: none;
}
 
nav li {
    margin-bottom: 10px;
}

nav a {
    display: block;
    background-color: var(--white);
    color: var(--purple);
    text-align: center;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
}

section {
    margin-bottom: 25px;
}

.card {
    background-color: var(--White);
    padding: 15px;
    margin-bottom: 15px;
}

.why {
    background-color: var(--pink);
    padding: 15px;
    color: var(--white);
}

.feature-box {
    padding: 1rem;
    border-radius: 10px;
    text-align: center;
    font-weight: 600;
}

.feature-teal {
    background-color: var(--teal);
    color: var(--white);
}

.feature-purple {
    background-color: var(--lavender);
    color: var(--white);
}

.feature-yellow {
    background-color: var(--yellow);
}

.feature-white {
    background-color: var(--white);
}

table {
    width: 100%;
    border-collapse: var(--white);
    background-color: var(--white);
    margin-bottom: 15px;
}

th {
    background-color: var(--yellow);
    padding: 8px;
    text-align: left;
}

td {
    padding: 8px;
    border-top: 1px solid #ccc;
}

.cta {
    background-color: var(--pink);
    color: var(--White);
    text-align: center;
    font-weight: bold;
}

.cta button {
    background-color: var(--white);
    color: var(--dark-gray);
    padding: .75rem 1.5rem;
    border-radius: 30px;
    font-weight: 600;
    margin-top: 1rem;
}

footer {
    text-align: center;
    color: var(--white);
    margin-top: 20px;
    font-size: 0.9em;
}